:root {
  --bgcol: #a20000;
  --bgcol-hover: #000;
}

.navigation {
  list-style: none;
  margin: 0;
  background: var(--bgcol);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover,
.navigation a:focus {
  background: var(--bgcol-hover);
}

/* optionale Spielerei mit Media Queries */
