/* ==== Mit Flexbox das Layout erstellen ===== */

/* Sortierung div.sidecnt | 
								 .contentcnt | 	 
							aside.sidecnt
*/

/* Wrapper um alles */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
/* Dieser Wert ist selbstverständlich nur ein Vorschlag! */


/* Wrapper um alle drei Spalten. */
.contentwrapper { }

/* Inhalt */ 
.contentcnt { }

/* Navigation */
div.sidecnt { }
/* Vorschlag: width: 240px; */

/* Bild und Teasercontainer */
aside.sidecnt { }



/* ========= Basics ===== */
/*  box sizing */
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	background: #eee;
}

p {
	margin-bottom: 10px;
	line-height: 1.5;
}

a {
	color: #a20000;
}
a:hover, a:focus {
	text-decoration: none;
}

.goon {
	margin-top: 10px;
	display: inline-block;
}

.flexible {
	width: 100%; /* wichtig für Flexbox! */
	height: auto;
	max-width: 100%;
	display: block;
}

.visuallyhidden {
	position: absolute;
	top: -30000px;
	left: -30000px;
	height: 0;
	font-size: 0;
}

/* horizontale Navigation */
.mainnav ul, .mainnav li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

	color: #fff;
	background: #a20000;
}

.mainnav ul {
	margin: 0;
}

.mainnav a, .mainnav strong {
	display: block;
	padding: 25px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.mainnav a {
	transition: all 0.5s ease;
}
.mainnav a:hover, .mainnav a:focus {
	background: #550000;
	text-decoration: underline;
}


/* subnav */
.subnav {
	margin: 20px 0;
}

.subnav ul, .subnav li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.subnav li {
	margin-bottom: 5px;
}

.subnav a {
	text-decoration: none;
	display: block;
	padding: 10px;
	background-color: #fff;
}

.subnav a:hover, .subnav a:focus {
	background-color: #a20000;
	color: #fff;
}

/* sidebox */
.sidebox {
	background-color: #fff;
	padding: 10px;
	/*  margin: 20px 20px 20px 0;*/
	margin: 20px 0;
	border-bottom: 5px solid #fff;
	transition: all 0.5s ease;
}
.sidebox:hover {
	border-bottom-color: #3498db;
}
.sidebox h2 {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #666666;
}

/* maincnt */
.maincnt {
	margin: 20px 0;
	padding: 25px;
	background: #fff;
	border: 1px solid #dedede;
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}
.maincnt h3 {
	font-size: 32px;
	font-size: 2rem;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #cecece;
	font-weight: normal;
	color: #666666;
}
.maincnt .flexible {
	margin-bottom: 20px;
}




/* ========= Float-Version =========== */
@supports not (display: flex;) {
	.mainnav ul {
		overflow: hidden;
		padding: 0;
		margin: 0 0 0;
		list-style: none;
		color: #fff;
		background: #a20000;
	}

	.mainnav ul li {
		float: left;
		margin: 0;
	}
	.mainnav a, .mainnav strong {
		display: block;
		padding: 25px;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
	}
	.mainnav a {
		transition: all 0.5s ease;
	}
	.mainnav a:hover {
		background: #550000;
		text-decoration: underline;
	}
}
